@model ProductListVM
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item category"><a class="text-dark" href="/Product/List">Hepsi</a></li>
                @foreach (var category in Model.categories)
                {
                    <li class="list-group-item category">
                        <a class="text-dark" href="/Product/ListByCategory/@category.ID">
                            @category.CategoryName
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="col-9">
            <div class="row">
                @foreach (var product in Model.products)
                {
                    string src = "/images/" + @product.ProductCode + ".png";
                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="@src" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-center">@product.ProductPrice TL</h5>
                                <p class="card-text">@product.ProductName</p>
                                <div class="text-center">
                                    <button class="btn back-color" value="@product.ID">
                                        <i class="fa fa-shopping-cart"></i> Sepete Ekle
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(":button").click(function () {
                $.ajax({
                    type: "GET",
                    url: "/Cart/AddToCart/" + $(this).val(),
                    success: function (response) {
                        $('#myModal').modal('show');
                        $('.modal-title')[0].innerHTML = "Ürün Sepete Eklenmiştir.";
                        setTimeout(function () {
                            $('#myModal').modal('hide');
                        }, 1000);
                        $.ajax({
                            type: "GET",
                            url: "/Cart/CartCount",
                            success: function (response) {
                                $("#cart-count").html(response.count);
                            }
                        });
                    },
                    error: function (response) {
                        $('#myModal').modal('show');
                        $('.modal-title')[0].innerHTML = "Malesef, Ürün Sepete Eklenemedi!";
                        setTimeout(function () {
                            $('#myModal').modal('hide');
                        }, 1000);
                    }
                });
            });

            $(".category").click(function () {
                $(".category").removeClass("back-color");
                $(this).addClass("back-color");
            });

        });
    </script>
}