@model OrderDetailsVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="text-center">Sipariş Detayları</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="table-content-center">
                            Sipariş Tarihi : @Model.OrderDate
                        </td>
                        <td class="table-content-center">
                            Sipariş Tutarı : @Model.OrderPrice
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="table-content-center" scope="col">
                            Ürün Resmi
                        </th>
                        <th class="table-content-center" scope="col">
                            Ürün Adı
                        </th>
                        <th class="table-content-center" scope="col">
                            Ürün Fiyatı
                        </th>
                        <th class="table-content-center" scope="col">
                            Ürün Adedi
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detail in Model.OrderDetails)
                    {
                        string src = "/images/" + detail.Product.ProductCode + ".png";
                        <tr>
                            <td class="table-content-center">
                                <img class="img-thumbnail" src="@src" height="150" width="150" />
                            </td>
                            <td class="table-content-center">
                                @detail.Product.ProductName
                            </td>
                            <td class="table-content-center">
                                @detail.Product.ProductPrice
                            </td>
                            <td class="table-content-center">
                                @detail.Quantity
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>